@import url(site-841a7d77.css);
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@100;300&display=swap");
body{margin:0;height:100vh;position:relative}
body img{width:100%}
body h1,body h2,body h3,body h4,body p,body a{color:#000}
body h1,body h2,body h3,body h4{font-family:"Archivo Black", sans-serif}
body h1{text-transform:uppercase}
body a,body p,body li{font-family:"Roboto", sans-serif}
body a{cursor:pointer;border-bottom:1px solid #000;text-decoration:none}
body a:hover{border-bottom:0}
body p{font-size:1rem;margin:0 0 12.5px 0;line-height:1.5}
.grid{position:relative;display:-ms-grid;display:grid;-ms-grid-columns:(1fr)[8];grid-template-columns:repeat(8, 1fr);max-width:640px;margin:0 auto}
.grid section{-ms-grid-column:1;-ms-grid-column-span:8;grid-column:1 / 9;padding:30px 0 0 0}
@media (max-width: 640px){.grid section{padding:15px 30px}}
.grid section:last-child{padding-bottom:30px}
.grid section h2{text-transform:uppercase;font-size:1.5rem;margin:0 0 7.5px 0}
.grid section p{font-size:1.15rem}
section.header{position:relative;padding:45px 0 0 0}
@media (max-width: 640px){section.header{padding:35px 30px 5px 30px}}
section.header h1{margin:0 0 0 0;font-size:3.5rem;position:relative;left:-3px}
@media (max-width: 640px){section.header h1{font-size:3.35rem}}
section.header h1 a{font-family:"Archivo Black", sans-serif;text-transform:none;text-decoration:none;text-transform:uppercase;border-bottom:0}
section.header h4{margin-top:0;margin-bottom:20px;font-size:1.2rem;text-transform:uppercase}
section.header p{font-size:1.25rem}
section.portfolio{position:relative}
section.portfolio .source:last-child{padding:0 0 12.5px 0}
section.portfolio .source h3{position:relative;font-size:1.2rem;margin-bottom:7.5px}
section.portfolio .source h3:before{content:'';background-repeat:no-repeat;background-size:contain;background-position:center;display:inline-block;width:15px;height:15px;margin-right:10px}
section.portfolio .source ul{margin:0 0 0 0;line-height:1.4}
@media (max-width: 640px){section.portfolio .source ul{padding:0;list-style-type:none;line-height:2}}
section.portfolio .source ul li{padding:2.5px 0}
section.portfolio .source ul li a{text-decoration:none}
section.experience{position:relative}
section.experience .skills{position:relative;display:flex}
section.experience .skills ul{margin:0;padding:0;list-style:none;display:-webkit-box;text-transform:lowercase;max-width:450px}
section.experience .skills ul li{font-size:13px;background-color:#e1ecf4;display:inline-block;margin:3px 5px 3px 0;padding:5px 10px;-webkit-box-shadow:0.75px 0.75px rgba(0,0,0,0.5);box-shadow:0.75px 0.75px rgba(0,0,0,0.5)}
@media (max-width: 640px){section.experience .skills ul li{font-size:14px;margin:5px 7.5px 3px 0}}
section.contact{position:relative}