@font-face {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: normal;
    src: url(/fonts/HelveticaNeueMedium.ttf) format("truetype");
}

@font-face {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: bold;
    src: url(/fonts/HelveticaNeueBold.ttf) format("truetype");
}

@font-face {
    font-family: "Helvetica Neue";
    font-style: italic;
    font-weight: normal;
    src: url(/fonts/HelveticaNeueItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Helvetica Neue";
    font-style: italic;
    font-weight: bold;
    src: url(/fonts/HelveticaNeueBoldItalic.ttf) format("truetype");
}

body {font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;}

a:link a:visited {color:rgb(241, 71, 108); text-decoration: none;}

a:hover a:active {color: rgb(204, 44, 78); text-decoration: none;}