@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,800;1,300;1,500;1,800&display=swap");

body {
    margin: 30px 0px;
    font-family: "Open Sans", sans-serif;
    background-color: #f8f1f9;
    color: #000000;
}

body h1 {
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 20px;
    line-height: 1em;
}

body h2 {
    font-weight: 800;
    font-size: 1.5em;
    margin: 0;
}

body p+h2 {
    margin-top: 20px;
}

body p {
    font-weight: 500;
    font-size: 1em;
    margin: 0;
    color: #000000;
}

body a {
    color:#f1476c;
    text-decoration: none;
}

body a:hover {
    color: #cc2c4e;
    text-decoration: none;
}

.grid {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
}

@media (max-width: 640px){
    .grid {
        padding: 0px 30px;
    }
}

.button {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
  }

  .enabled:hover {
      background-color: #f1276c;
      color: #ffffff;
      cursor: pointer;
  }

  .disabled:hover {
      background-color: #ffffff;
      cursor: not-allowed;
      color: #555555;
  }


  ::selection{
      color: #ffffff;
      background-color: #f1276c;
  }

  span.highlight {
      font-weight: 800;
      color: #f1476c;
  }

  span.will:before {
      content:url("will-64.png");
  }

  span.will, span.benjy {
      font-weight: 800;
  }

  span.benjy:before {
      content:url("benjy-64.png");
  }
  
  div.container p {
      vertical-align:middle;
  }